<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        /* a{
            text-decoration: none;
        }
        #back{
            height: 50px;
            width: 100px;
            background: darkgrey;
            color: black;
            font-size: larger;
        } */
         div{
            height: 300px;
            width: 100%;
            margin-top: 12%;
            text-align: center;
            background: black;
            color: white;
         }
    </style>
</head>
<body>
    <div>
        <h1>Welome to login page!!!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
    </div>
</body>
</html>